<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.track.analytics.android.app">

    <application
        android:name="com.track.analytics.android.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="hhh"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.track.analytics.android.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.track.analytics.android.app.AdapterViewTestActivity" />

        <activity android:name="com.track.analytics.android.app.ExpandableListViewTestActivity" />

    </application>

</manifest>